@media screen and (min-width: 1184px) {
    .navbar-default .navbar-brand {
  		margin-right:150px;
  		
	}
	.navbar-default .navbar-nav>li>a {
  		padding: 35px 70px;
	}
	
}

@media screen and (min-width: 750px) and (max-width: 1184px){
    .navbar-default .navbar-brand {
  		margin-right:50px;
  		
	}
	.navbar-default .navbar-nav>li>a {
  		padding: 35px 20px;
	}
}

* {
	word-break:break-all;
	font-family:"Microsoft YaHei UI","Microsoft YaHei";
}

.main-img{
	height:354px;
	background-image: url("/dbim/img/main-s.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color:#fff;
	font-size:60px;
	padding-top:100px;
}


.navbar-default {
  width:100%;
/*   position:absolute; */
  border:0px;
  border-radius: 0px;
  background-color:#1690c3;
  font-size:20px;
}


.navbar-default .navbar-brand {
	padding: 13px 30px;
  	color: #fff;
  	height:80px;
/*   	margin-right:150px; */
}


.navbar-default .navbar-nav>li>a {
  color: #fff;	

}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li.active>a:hover,
.navbar-default .navbar-nav>li.active>a{
	color: #1690c3;
	background-color:white;
}

.navbar-default .navbar-right>li>a {
  border-left:0px;
}


.navbar-toggle {
  margin-top: 23px;
  border:0px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color:white;
}

.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar{
  background-color:#1690c3;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.button-primary{
	color:#fff;
	background-color:#35b88f;
}

.navbar-default .navbar-nav>li>.button-primary{
	margin-top: 23px;
	margin-left:50px;
}

.button-primary:focus,
.button-primary:hover{
	color:#fff;
	background-color:#38c798;
}

.navbar-default .navbar-nav>li>p{
  	color: #fff;	
  	padding: 25px 0px;
  	margin-bottom:0px;
}


.img-with-text>.bg-img{
	width:100%;
	height:700px;
}


.img-with-text>.nav-arrow-img{
	bottom:0px;
}

.img-with-text>p{
	position:absolute;
 	top:200px;
 	left: 0;
    right: 0;
	font-size:60px;
	color:#fff;
}

.img-with-text>.buttons{
	position:absolute;
 	top:470px;
 	left: 25px;
    right: 0;
	color:#fff;
}

.img-with-text>.buttons>span{
	border:1px solid #35b88f;
	font-size:30px;
	padding:30px;
	color:#fff;
	cursor:pointer;
}

.img-with-text>.buttons>span a{
	color:#fff;
	text-decoration: none;
}

.img-with-text>.buttons>span:hover{
	background-color:#35b88f;
}

.img-with-text>.search-input{
	position:absolute;
 	top:350px;
 	left: 0;
    right: 0;
    margin-left:auto;
    margin-right:auto;
    font-size:20px;
    background-color:#fff;
    padding:10px 0px;
    width:400px;
  	color:#777;
  	border:1px solid #35b88f;
}

.img-with-text>.search-btn{
	position:absolute;
 	top:350px;
 	left: 400px;
    right: 0;
    margin-left:auto;
    margin-right:auto;
    background-color:#35b88f;
 	padding:10px;
	width:48px;
  	color:#777;
}

.service-flow-section{
	background-color:#29344a;
	color:#fff;
	font-size:20px;
	padding-left:150px;
	padding-right:150px;
	padding-bottom:150px;
}

.service-flow-section .row{
	margin-top:-55px;
}


.service-flow-section .img-wrapper{
	background-color:rgba(255,255,255,0.7);
	width:110px;
	height:110px;
	border-radius:55px;
	padding-top:20px;
	margin:0px auto 10px auto;
}



.product-item {
	padding-left:5px;
	padding-right:5px;
	
}
.product-item .thumbnail {
	padding:5px 0px 0px 0px;
	border-radius:0px;
	border-width: 0px;
}

.product-item a {
	overflow:hidden;
	display:block;
	height:45px;
	line-height:45px;
	text-decoration:none;
	color: white;
    background-color: #727071;
    font-size: 15px;
    margin-top:5px;
    text-align:center;
}

.product-item a:hover {
    background-color: #3e3a39;
}

.product-detail-table{
	font-size:25px;
}

.intro {
	color: #595757;
    padding: 80px 0px;
    font-size:25px;

}
.intro .col-md-4 {
	padding:0px 50px;
}

.intro .thumbnail{
	padding-bottom:5px;
	background-color:transparent;
	padding-top:100px;
}

.intro .thumbnail .title{
	color: #595757;
	margin:20px 0px;
}

.intro .thumbnail .content{
	color: #595757;
	font-size:15px;
	text-align:justify;
}

.bgbar {
	height:5px;
	background-color:black;
}

#bottom {
  color:#fff;
  font-size:20px;
  padding-top:180px;
  height: 300px;
  background: #214760;
}

#bottom a{
  color:#fff;
  cursor:pointer;
}

.post {
	margin-bottom: 15px;
	padding: 15px;
	cursor:pointer;
}

/* .post [class^=col-] { */
/* 	padding-bottom: 15px; */
/* } */
	
.post:hover {background-color:#337ab7;}

.button-group {
	padding-top:15px;
	padding-bottom:15px;
}

.section {
	padding-top:50px;
	padding-bottom:50px;
}


.top-requirement {
	font-size:20px;
	color:#fff;
	padding: 15px;
	text-align:left;
	cursor:pointer;
}

.top-requirement:hover {
	border:2px solid #165541;
	padding: 13px;
}

.top-service {
	font-size:20px;
	color:#fff;
	padding: 15px;
	text-align:left;
	cursor:pointer;
}

.top-service:hover {
	border:2px solid #165541;
	padding: 13px;
}

.info-wrapper {
	padding-top:80px;
	padding-bottom:80px;
	background-image:linear-gradient(#089082, #10919f);
}


.info-wrapper .section-title{
	background-color:#214760;
	width:150px;
	padding:10px;
	color:#fff;
	margin:20px auto;
	font-size:30px;
}

.info-wrapper .circle {
	width:10px;
	height:10px;
	border-radius:5px;
	background-color:#214760;
	margin:0px auto;
}

.info-wrapper .date-col {
	text-align:right;
	padding-top:13px;
}
.info-wrapper .circle-col {
	padding-top:23px;
}

.stats .col-sm-4 {
	padding:20px 0px;
}

.stats .num {
	color:white;
	font-size:50px;
	margin-bottom:0px
}

.stats .txt {
	color:white;
	font-size:18px;
}

.slide-btn
{
	cursor:pointer;
}

a.video-info{
   
    text-decoration: none;
    color:black;
    font-size: 15px;
}

.video-wapper .video-cover
{
    display:none;
    position:absolute;
    background-color: rgba(1,1,1,0.3); 
    background-image: url(/dbim/img/play-lg.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    cursor:pointer;
}


